<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Nombre</th>
      <td><button type="button" (click)="VM.add()">Añadir</button></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of VM.Listado">
      <td>
        {{item.nombre}} {{item.apellidos}}
      </td>
      <td>
        <button type="button" (click)="VM.view(item.id)">Ver</button>
        <button type="button" (click)="VM.edit(item.id)">Editar</button>
        <button type="button" (click)="VM.delete(item.id)">Borrar</button>
      </td>
    </tr>
  </tbody>
</table>
